/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  text-align: center;
  width: 60%;
}

.box {
  display: flex;
  align-items: center;
}

footer {
  background-color: #222629;
  padding-top: 10px;
}

/* UTILS */

.container {
  margin: 0 auto;
  width: 1000px;
  max-width: 100%;
}

/* HEADER */

.upper-header {
  background-color: #acd6e4;
  padding: 10px 0;
  font-size: 1.3rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d7a522;
  padding: 0px;
}

.logo {
  padding: 5px 10px;
  border: 2px dashed black;
  width: 20%;
  max-width: 100%;
}

.link-list {
  padding: 5px;
  border: 2px dashed black;
  width: 100%;
  max-width: 100%;
}

.login {
  padding: 5px 10px;
  border: 2px dashed black;
  width: 20%;
  max-width: 100%;
  text-align: end;
}

.link-item {
  text-decoration: none;
  color: inherit;
  margin: 0 3px;
}

.bottom-header {
  display: flex;
  background-color: #010088;
  padding: 40px 0;
  justify-content: center;
  align-items: center;
}

.header-content {
  background-color: #ec81eb;
  border: 2px dashed black;
  min-height: 350px;
  width: 700px;
}

/* MAIN */

.box:nth-child(even) > .container {
  flex-direction: row-reverse;
}

main > section:nth-child(even) {
  background-color: #d2d2d2;
}

.box .container {
  display: flex;
  min-height: 450px;
  padding: 40px 0;
}

.big-column {
  width: 60%;
  background-color: #1e8ff7;
  border: 2px dashed black;
}

.small-column {
  width: 40%;
  background-color: #f9bfcb;
  border: 2px dashed black;
}

.big-column:only-child {
  background-color: #228822;
  width: 100%;
}

#last-main-container {
  min-height: 900px;
}

/* FOOOTER */

.big-footer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222629;
}

footer > .container {
  padding: 10px 0;
}

.footer-small-column {
  width: 30%;
  background-color: #ee8081;
  border: 2px dashed black;
}

.big-footer-box > .container {
  display: flex;
  min-height: 510px;
  padding: 10px 0;
  margin-bottom: 20px;
}

.footer-big-column {
  display: flex;
  width: 70%;
  background-color: #1fafa6;
}

.smaller-column {
  border: 2px dashed white;
  width: 25%;
}

.small-footer-box {
  display: flex;
  align-items: flex-end;
  min-height: 100px;
  background-color: #222629;
}

.small-footer-box > .container {
  display: flex;
  align-items: flex-end;
  padding-top: 20px;
  border-top: 2px solid white;
}

.small-footer-box > .container > .container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #7ffed5;
}

.footer-logo,
.footer-button {
  background-color: #f8b4c3;
  border: 2px dashed black;
  padding: 5px 10px;
  font-size: 1.4rem;
}
