/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

nav {
  padding: 10px 0;
  text-align: center;
  flex-shrink: 1;
  max-width: 100%;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

/* HEADER */

.upper-header {
  background-color: #acd6e4;
  padding: 10px 0;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d7a522;
}

.logo {
  padding: 5px;
  border: 2px dashed black;
  width: 200px;
  max-width: 100%;
}

.link-list {
  padding: 2px;
  border: 2px dashed black;
  width: 600px;
  max-width: 100%;
}

.login {
  padding: 5px;
  border: 2px dashed black;
  width: 200px;
  max-width: 100%;
  text-align: end;
}

.link-list {
  display: inline-block;
  list-style-type: none;
}

.link-item {
  display: inline-block;
  margin: 3px;
}
